body{
  background:#EDEDED;
}

.ant-layout-container{
  position: relative;
  border-radius:2px;
}

.ant-layout-aside {
  position: relative;
  min-height: 100%;
  .ant-layout-main {
    margin-left: 224px;
    min-height:100vh;
  }
  .ant-layout-container {
    margin: 20px;
    .ant-layout-content {
      border:0;
      background: #fff;
    }
  }
}


.ant-advanced-search-form .ant-btn + .ant-btn{
  margin-left: 8px;
}

.ant-btn{
  margin-right: 8px;
}

.export-wrapper{
  text-align: right;
  padding-bottom: 10px;
}


.ant-layout-content{
  > .ant-form{
    padding-top: 50px;
    width: 500px;
    margin:0 auto;

    button{
      width: 100%;
      height:40px;
    }

    .ant-radio-button-wrapper-checked{
      background:#4da7fd;
      color:#fff;
    }

    input{
      background:#fafbfd;
    }
  }
}

.ant-menu-submenu-open{

  position: relative;

  &:before{
    content:' ';
    width: 4px;
    height:18px;
    background:#377EF6;
    position: absolute;
    left:0;
    top:12px;
  }
}

.ant-menu-inline .ant-menu-selected, .ant-menu-inline .ant-menu-item-selected{
  border:0;
}

.ant-menu-item > a{
  color:#686868;
}
.ant-menu-item-selected > a, .ant-menu-item-selected > a:hover{
  color:#377EF6;
}

.add-btn{
  color:#fff;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  width: 60px;
  text-align: center;
  background:#6ec71e;
  font-size:12px;

  &:hover{
    color:#fff;
  }
}